* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 18px;
    color: white;
}

h2 {
    font-size: 15px;
    color: white;
}

h3 {
    font-size: 13px;
    color: #878787;
}

h4 {
    font-size: 12px;
}

a {
    text-decoration: none;
    font-size: 12px;
}

ul li {
    list-style: none;
}

/* ***SEZIONE SIDEBAR SX CON CONTENUTI*** */

.shell {
    height: calc(100vh - 60px);
    background-color: #141922;
    display: flex;
}

/* **SIDEBAR sx** */
.left_sidebar {
    width: 40px;
    height: 100%;
    background-color: #000000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

/* sidebar top */
.left_sidebar_top {
    padding-top: 5px;
    flex-shrink: 0;
}

.left_sidebar_top_icon {
    margin: auto;
    width: 20px;
    padding-bottom: 5px;
}

.left_sidebar_top_icon span {
    font-size: 10px;
}

/* sidebar middle */
.left_sidebar_middle {
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.left_sidebar_middle_head {
    flex-shrink: 0;
}

.left_sidebar_middle_head h4 {
    padding: 10px 0 7px;
}

.left_sidebar_middle_head i {
    font-size: 35px;
    vertical-align: middle;
}

.left_sidebar_middle_head span {
    padding-left: 5px;
}

.left_sidebar_middle_playlist {
    overflow: auto;
    flex-grow: 1;
}

.left_sidebar_middle_playlist ul {
    overflow: auto;
    height: 100%;
}

.left_sidebar_middle_playlist li {
    padding-top: 8px;
}

/* sidebar bottom */
.left_sidebar_bottom {
    flex-shrink: 0;
    padding-bottom: 5px;
}

.left_sidebar_bottom_icon {
    margin: auto;
    width: 20px;
    padding-top: 10px;
}

.left_sidebar_bottom_icon span {
    padding-left: 8px;
}

.left_sidebar_bottom_icon .c_white {
    font-size: 14px;
}

/* **CONTENUTO** */
.container {
    flex-grow: 1;
    overflow-y: auto;
}

/* bottone upgrade */
.container_upgrade {
    padding: 18px 5px 20px;
    text-align: right;
    background-color: rgba(0,0,0,0.5);
}

.container_upgrade a {
    color: white;
    padding: 7px 18px;
    border: 1px solid white;
    border-radius: 15px;
}

/* navbar centrale */
.container_navbar {
    padding: 15px 13px 0;
}

.container_navbar_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 15px;
}

.container_navbar_box a {
    color: #878787;
}

/* sezione titolo con box */
.container_content {
    padding: 22px 13px 0;
}

.container_content_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0 25px;
}

.container_content_card {
    width: calc(100% / 2 - 5px);
    cursor: pointer;
}

.container_content_card_img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: auto;
    position: relative;
}

.container_content_card_img img {
    width: 100%;
}

.container_content_card_text {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.container_content_card_text h2 {
    padding: 10px 0 7px;
}

/* ***SEZIONE CONTROLLI BASSI*** */

.bottom_playbar {
    height: 60px;
    background-color: #282828;
    display: flex;
    align-items: center;
    padding: 0 7px;
    position: relative;
    z-index: 99;
}

/* sezione controlli barra bassa sinistra */
.bottom_playbar_left {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.bottom_playbar_left_img {
    width: 25px;
    height: auto;
}

.bottom_playbar_left_img img {
    width: 100%;
}

.bottom_playbar_left_text {
    padding-left: 7px;
    padding-right: 12px;
}

.bottom_playbar_left_icon i {
    font-size: 10px;
    color: #878787;
    display: block;
    padding: 1px 0;
}

/* sezione controlli barra bassa centrale */
.bottom_playbar_middle {
    flex-grow: 1;
}

.bottom_playbar_middle_controls {
    text-align: center;
}

.bottom_playbar_middle_controls i {
    padding: 0 6px;
    font-size: 14px;
    color: white;
}

.bottom_playbar_middle_timebar {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.botom_playbar_middle_timebar_sec {
    flex-shrink: 0;
    font-size: 8px;
    color: white;
    padding: 0 10px;
}

.botom_playbar_middle_timebar_line {
    flex-grow: 1;
}

/* sezione controlli barra bassa centrale */
.bottom_playbar_right {
    flex-shrink: 0;
}

.bottom_playbar_right_icon {
    display: inline-block;
    font-size: 10px;
}

.bottom_playbar_right_icon i {
    padding: 0 5px;
    color: white;
}

.bottom_playbar_right_volumebar {
    display: inline-block;
    width: 70px;
}

/* *****CLASSI UTILITIES***** */

.i_small {
    width: 12px;
}

.bottom_playbar_middle_controls .i_play_control {
    font-size: 22px;
}

.pad_top_bottom {
    padding: 8px 0;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

.h2_small {
    font-size: 9px;
}

.h3_small {
    font-size: 7px;
}

.start_bar {
    background-color: #5a5a5a;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.progress_bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    background-color: #c1c1c1;
}

.c_grey {
    color: #878787;
}

.c_white {
    color: white;
}

.c_lightgray {
    color: #fefefe;
}

.display_xs_none {
    display: none;
}

/* *****ANIMAZIONI E VARIE***** */

/* bottone upgrade */
.container_upgrade a:hover {
    font-size: 14px;
    transition: font-size 0.1s;
}

/* linea gialla sotto link podcast e home */
.container_navbar_box li {
    position: relative;
}

.horizontal_line {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #adff2f;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.left_sidebar_top_icon {
    position: relative;
}

.vertical_line {
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: #adff2f;
    left: -10px;
    top: 0;
}

/* link navbar bianchi*/
.container_navbar_box a:hover {
    color: white;
}

/* overlay card */
.overlay_card {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.overlay_card i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.container_content_card:hover .overlay_card {
    display: initial;
}

/* sidebar sx span link e icone bianchi */
.left_sidebar a:hover,
.left_sidebar span:hover {
    color: white;
}

.left_sidebar a:hover,
.left_sidebar span:hover img {
    filter: brightness(0) invert(1);
}

/* testo sottolineato playline in fondo */
.bottom_playbar_left_text h3:hover {
    color: white;
    text-decoration: underline;
}

/* icone a fianco del testo nella playbar in fondo */
.bottom_playbar_left_icon i:hover {
    color: white;
}

/* tasto play playbar */
.bottom_playbar_middle_controls .i_play_control:hover {
    font-size: 26px;
    transition: font-size 0.1s;
}

/* pallino nelle barre volume e tempo */
.botom_playbar_middle_timebar_line::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%, -50%);
}